<div class="outercontainer">
<div class="container">
<div class="innercontainer">
  <div class="row-fluid">
    <div class="span5">
      <div>
<%= image_tag @profile.user_image(:large) %>
</div>
    </div>
    <div class="span7">
    <% if @profile.name? %>
      <h4> name:</h4>
<%= @profile.name %><br>
<%end%>
<div id="email">
<% if @profile.email? %>
<h4>email:</h4>
<%= @profile.email %><br>
<%end%>
</div>

<div>
<% if @profile.address? %>
<h4> address:</h4>
<%= @profile.address %><br>
<%end%>
</div>
<div>
<% if @profile.dob? %>
<h4> DOB: </h4>
<%= @profile.dob %><br>

<%end%>


</div>
</div>.
<% if user_signed_in? %>

<% if @profile.id== current_user.id %>
<div>
<div id="edit">
<%= link_to "update",edit_profile_path(current_user.id) %>
</div>
</div>
<% end %><% end %>
    </div>
  </div>
</div>
</div>
<div >

</div>