<%= form_for(@comment) do |f| %>
  
 
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment,size:"10x10" %>
    <%= f.hidden_field :review_id, :value => @id %>
   

<%=f.hidden_field :user_id,:value =>current_user.id %>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>