<div class="container">
<% @user.reviews.each do |t| %>

<div class="page-header">

<h1>
<%= t.title %></h1>
</div>

<%= t.description %>


<% @all_comment = t.comments.all %>
 <% @all_comment.each do|t| %>
 
   <div class="well"> 

     <%= t.comment %>
     <div id="commentemail">
      <%=t.user.email %>
     </div>
    <% if user_signed_in? %>
         

           <%= link_to "edit",edit_comment_path(:id => t.id) %>
          
       

       <%= link_to "delete",comment_path(:id => t.id) , method: :delete %>
       
     <% end%>
     </div>
  <% end %>
 
<div class="btn btn-small btn">


 <%= link_to "comment",review_path(:id => t.id) %>
 </div>
   <%end%>
<div>
<%= link_to "<< Back to Articles List", reviews_path %>
</div>
</div>
